<div class="interactive-wrapper-slider">
  <div class="interactive-100dayslider-wrapper">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-slide__image swiper-slide__image11"></div>
          <span class="swiper-slide__caption">Photograph: Ezra Acayan / Getty Images</span>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__image swiper-slide__image12"></div>
          <span class="swiper-slide__caption">Photograph: Carlos Álvarez / Getty Images</span>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__image swiper-slide__image13"></div>
          <span class="swiper-slide__caption">Photograph: Remo Casilli / Reuters</span>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__image swiper-slide__image14"></div>
          <span class="swiper-slide__caption">Photograph: Dan Kitwood / Getty Images</span>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__image swiper-slide__image15"></div>
          <span class="swiper-slide__caption">Photograph: Peter Byrne / PA</span>
        </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>