<div class="interactive-wrapper-slider">
  <div class="interactive-100dayslider-wrapper">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-slide__image swiper-slide__image1"></div>
          <span class="swiper-slide__caption"
            >Photograph: Jill Mead / The Guardian</span
          >
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__image swiper-slide__image2"></div>
          <span class="swiper-slide__caption"
            >Photograph: Thomas Peter / Reuters</span
          >
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__image swiper-slide__image3"></div>
          <span class="swiper-slide__caption"
            >Photograph: García Rawlins / Resuters</span
          >
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__image swiper-slide__image4"></div>
          <span class="swiper-slide__caption"
            >Photograph: Dale de la Rey / AFP</span
          >
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__image swiper-slide__image5"></div>
          <span class="swiper-slide__caption">Photograph: Xinhua / REX</span>
        </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
